{% extends 'base.html' %}

{% block title %}The Difference Between Sensation and Perception{% endblock %}

{% block content %}
{{ super() }}
	<h1>The Difference Between Sensation and Perception</h1>

	<p>
		<b><i>Key Difference</i></b>: Sensations(知觉，由感官所获得的原始信息) are things in our enviroment that are registered(获取) by the five major sensory organs.Sensations is what we see, hear, smell, taste and feel.Perception(想法，大脑对知觉进行有意识的加工，所得的产物) is how we interpret these sensations.Perception helps us make sense of our sensations.
	</p>
	
	<h2>Main View</h2>
	
	<p>
		The main difference between sensation and perception is that sensations are the passive process of bringing information from the outside world into the body and to the brain.Perception, on the other hand, is the active process of selecting, organizing, and interpreting(解释) the information brought to the brain by the senses(感官).
	</p>
	<p>
		Sensation are passive, in the sense that we not have to be consciously engaging(参与) in a "sensing" process. it is what our senses do natually and at all the time. However, perception is what out brain actively does: it interprets the sensations.
	</p>
	<p>
		Sensation is the process by which our senses gather information and send it to the brain. Human are capable of sensing a large amount of information as any givien time, such as room temperature, brightness of the lights, someone talking, a distant train, or the smell of perfume(香水). However, due to too much information, our brain does not interpret everything.
	</p>
	<p>
		for example, if you are talking to someone, you might not realize that someone just walked in the room, even though you probebly did hear the door creak(creak, n, 嘎机声) and their footsteps. it's just that your brain didn't interpret the information, and hence you didn't perceive(perceive, v, 意识到) the person walking in. Due to this most of our world goes unperceived by us. Scientists estimate(estimate, v, 估计) that we observe 11, 000, 000 bits of info per second. However， we interpret only 40 bits.
	</p>
	<p>
		Also, perception can be shaped by learning, memory and expectation. An example of this and an easy way to distinguish between sensation and perception is that: When we see a building from far, it appears small. When we walk towards the building it appears to get bigger, as least that is what our eyes see. However, we do not exclaim(exclaim, v, 惊呼) in surprise that the building is growing, or that we are  shrinking. It is because we know that the building is the same size as it always was, as we are as well, it's just our relative distance from the building that makes the building appear so.
	</p>
	<p>
		Another example of perception shaped by learning, memory and expection is when we walk into a room. if anything is amiss(amiss, adj, 有差错的), or if something has been moved or removed entirely, we cal tell the difference. Our eyes see the room, and we perceive that something is different from before.
	</p>
{% endblock %}