{% extends 'base.html' %}

{% block title %}Preface{% endblock %}
	{% block content %}
		<h1>Preface</h1>
		
		<p>
			为了帮助你自学心理学，Psychology: A Self-Teaching Guide使用(employ, 使用。)到了以下与众不同的(distinctive, adj, 与众不同的)特色:<br>
			<ul>
				<li>
					每章开头都有判断真假的5个预习测验。而答案可在每章末尾找到。
				</li>
				<li>
					测验之后是章节目标(objective, 目标)。
				</li>
				<li>
					每章最后都有10道多选自测题，答案紧追其后。
				</li>
				<li>
					每章背后列出了本章中用到的关键术语(term, 术语)。
				</li>
			</ul>
		</p>
		
		<section>
			<h2>How Do You Use the Book?</h2>
		
			<p>	
				你应该积极地使用本教程。你可以采取下述的步骤来完成每章(accomplish, vt, 完成):<br>
				<ol>
					<li>
						做完5个章节预测题。即使你不知道答案，也可以猜。这会让你参与到(involved, adj, 作为一部分参与的)材料中。参照每章最后的答案对测验进行打分。如果有4个或5个答对了，那么你应该高兴。只答对两三个题目也不必担忧。毕竟你还没有学习到材料。这些预测的目的只是打破沉默(break the ice, 破冰)，检测哪些知识点你已经了解，并想你展示本章将要学习到的内容。
					</li>
					
					<li>
						回顾(review, v, 回顾)章节目标。章节目标提示你哪些知识点你需要倍加注意。
					</li>
					<li>
						阅读每一小结，特别要注意使用符号强调的(emphasized, adj, 强调的)术语和它们的意思。
					</li>
					<li>
						在学下一小结时，请先完成小结最后的填空题。通过回忆之前的材料来完成填空题。最好将答案写下来而不是仅仅在脑子里想。如果可能，将答案写在问题下面，然后和标准答案进行校对。如果有什么不理解的，可以回顾相关的小结。(relevant, adj, 相关的)
					</li>
					<li>
						完成章节背后的十个多选题。如果你并不确信某个答案的正确性，尽管猜，但是这种猜测也得是经过深思熟虑的，而不是瞎猜，毕竟你已经学习了材料。在绝大多数大学多选题中，猜测不会引来惩罚(penalty, n, 惩罚)。答对了得分，多错了也没事。
					</li>
					<li>
						使用紧追其后的标准答案对测验进行打分。10分或者9分为A,8分为B, 七分为C, 6分为D, 5分为F.回顾之前所学，反省做错的原因。
					</li>
					<li>
						回顾每章最后的关键术语。
					</li>
				</ol>
			</p>
			<p>
				我相信你会发现其实心理学很有趣，而且你也会发现她和我们的日常生活息息相关。我紧最大努力来让你掌握心理学的关键概念(grasp, v, 了解)。我希望你可以发现学习的过程是一种有意义和有价值的经历。
			</p>
		</section>

	{% endblock %}
